<h2>List of all <%= @customers.all.count %> customers</h2>
<ul>
  <% @customers.each do |c| %>
    <li><%= link_to (c.first_name + " " + c.last_name), customer_path(c) %>
  (<%= c.email %>)
  <% end %>
</ul>
